/* Стилізація кнопок фільтру */
.projects__filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.projects__filter-item:not(:last-child) {
    margin-right: 8px;
}

.projects__filter-button {
    display: block;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    cursor: pointer;
    background-color: var(--button-background-color);
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
            color: var(--primary-background-color);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
                        0px 1px 2px rgba(0, 0, 0, 0.08),
                        0px 3px 1px rgba(0, 0, 0, 0.1);
        }
}


/* Стилізація карток робіт */
.projects__examples-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects__examples-item {
    flex-basis: calc((100% - 30px * 2) / 3);
}

.projects__examples-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                    0px 4px 4px rgba(0, 0, 0, 0.06),
                    1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.projects__examples-image {
    position: relative;
    overflow: hidden;
}

.projects__examples-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);

    opacity: 0;

    .projects__examples-link:hover &,
    .projects__examples-link:focus & {
        transform: translateX(0);
        opacity: 1;
    }
}

.projects__examples-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;

    letter-spacing: 0.03em;

    color: var(--primary-background-color);
}

.projects__examples-wrap {
    flex: 1 0 auto;
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.projects__examples-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.projects__examples-description {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}