/* Стилізація секції "Наша команда" */
.section__team {
    background-color: var(--button-background-color);
}

.team__list {
    display: flex;
}

.team__item {
    background-color: var(--primary-background-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12);

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.team__employee-info {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__employee-name {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team__employee-position {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.social-networks__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-networks__item:not(:last-child) {
    margin-right: 10px;
}

.social-networks__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--primary-background-color);
    }
}

.social-networks__icon {
    fill: currentColor;
}