/* формула для приховання заголовків */
.section__title--visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

body {
    background-color: var(--primary-background-color);
    font-family: var(--main-font);
    color: var(--primary-text-color);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.logo {
    color: var(--accent-color);
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.section__title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}